.navBar {
  overflow: hidden;
  position: fixed;
  top: 0;
  height: 90px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(50, 50, 50);
  font-size: 3em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
}

.main {
  margin-top: 90px;
  margin-bottom: 50px;
  padding: 20px;
  min-height: 750px;
  background-color: rgb(218, 218, 218);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-self: center;
  justify-items: center;
}

.footer {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(50, 50, 50);
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
}

.showCV,
.CVform {
  padding: 20px;
  background-color: rgb(165, 165, 165);
  border-radius: 5px;
  width: 800px;
  box-shadow: 0 0 10px #000000;
}

/* Change grid template row to auto for adding more form */
.CVform {
  display: grid;
  grid-template-rows: 360px auto auto ;
  gap: 20px;
}

.generalInfoContainer,
.educationContainer,
.experienceContainer {
  background-color: rgb(218, 218, 218);
  padding: 10px;
  border-radius: 3px;
  display: grid;
  grid-template-rows: 40px 1fr;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.generalInfoContainer > h1 {
  font-size: 1.4em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.educationContainer > h1 {
  font-size: 1.4em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.experienceContainer > h1 {
  font-size: 1.4em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.generalInfoContainer > form {
  display: grid;
  grid-template-rows: 40px 40px 40px 40px 90px;
  gap: 10px;
}

.educationContainer > form {
  display: grid;
  grid-template-rows: 40px 40px 40px 40px;
  gap: 10px;
}

.experienceContainer > form {
  display: grid;
  grid-template-rows: 40px 40px 40px 40px;
  gap: 10px;
}

form > input {
  width: 750px;
  border: 1px solid rgb(165, 165, 165);
  border-radius: 3px;
  font-size: 1em;
}

button {
  align-self: center;
  justify-self: center;
  width: 750px;
  height: 40px;
  border: 1px solid rgb(165, 165, 165);
  border-radius: 3px;
  font-size: 1em;
  background-color: rgb(50, 50, 50);
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  border: 1px solid rgb(0, 0, 0);
}

textarea {
  height: 70px;
  width: 750px;
  border: 1px solid rgb(165, 165, 165);
  border-radius: 3px;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  resize: none;
}

.commandButtons {
  display: grid;
  grid-template-rows: 40px 40px;
  gap: 10px;
  justify-items: center;
  align-items: center;
}

.commandButtons > button {
  height: 40px;
  width: 750px;
  font-size: 1.2em;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  border: none;
}

.commandButtons > button:hover {
  cursor: pointer;
  border: 1px solid rgb(0, 0, 0);
}

.commandButtons > button:first-child {
  background-color: rgb(100, 230, 100);
}

.commandButtons > button:nth-child(2) {
  background-color: rgb(250, 70, 70);
  color: white;
}

.showCV {
  display: grid;
  grid-template-rows: 110px 1fr;
  padding: 0px;
}

.header {
  background-color: rgb(13, 13, 122);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  height: 70px;
  padding: 20px;
}

.header > h1 {
  font-size: 2em;
  font-weight: bold;
  padding: 10px;
}

.header > p {
  font-size: 1em;
  padding: 10px;
}

.CVContainer {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.personalDetailsContainer {
  background-color: rgb(196, 196, 196);
  display: grid;
  grid-template-rows: 250px 1fr;
  justify-items: center;
  align-items: center;
}

img {
  margin-top: 20px;
  width: 160px;
  height: auto;
  align-self: flex-start;
}

.personalDetailsSection {
  align-self: flex-start;
  font-family: Arial, Helvetica, sans-serif;
}

.personalDetailsSection > h2 {
  font-size: 1.4em;
  border-bottom: 1px solid grey;
  font-weight: bold;
}

.personalDetails > h3 {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 1.3em;
}

.personalDetails > p {
  font-size: 0.9em;
}

.mainContent {
  display: flex;
  flex-direction: column;
  background-color: rgb(238, 238, 238);
}

.mainContentDescriptionContainer,
.mainContentEducationContainer,
.mainContentExperienceContainer {
  height: 200px;
  margin: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.descriptionContainerDiv > h1 {
  border-bottom: 1px solid grey;
  font-size: 1.4em;
  font-weight: bold;
}

.educationContainerDiv > h1 {
  border-bottom: 1px solid grey;
  font-size: 1.4em;
  font-weight: bold;
}

.experienceContainerDiv > h1 {
  border-bottom: 1px solid grey;
  font-size: 1.4em;
  font-weight: bold;
}
